# Ignore raw audio
data/raw/audio/*.mp3

# Ignore transcripts
data/raw/transcripts/*.txt

# Ignore annotation files
data/raw/annotations/*Annotated*.txt


__pycache__/
*.pyc

data/processed/features/*.npy

data/processed/tokenize_text/*.json
